@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Ubuntu:wght@300;400;500&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #3f5efb, #fc466b);

}

form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 30px;
}

form::before{
    content: '';
    position: absolute;
    bottom: 3%;
    right: 28%;
    width: 200px;
    height: 200px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
}


form::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 35%;
    width: 120px;
    height: 120px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 3px;
    margin-bottom: 5%;
    opacity: 0.7;
}
label{
    font-size: 20px;
    color: white;
    margin-left: 10%;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) ;
}

input{
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    opacity: 0.8;
}

button{
    width: 50%;
    margin: 3% auto;
    color: white;
    font-size: 15px;
    opacity: 0.7;
    background: rgba(255, 255, 255, 0.06);
    padding: 10px 30px ;
    border: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

a{
    font-size: 16px;
    text-align: center;
    color: white;
    opacity: 0.7;
    text-decoration: none;
}

button::before{
    content: '';
    width: 100px;
    height: 50px;
    color: white;
}